fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
# elasticsearch
chromadb
openai
tiktoken
pandas>=2.0.0
numpy>=1.24.0
python-dotenv
httpx
aiofiles
websockets
mcp
